.svg-ico-chk-select {
	background: url("svg/sprite.view.svg") 51.42857142857143% 0 no-repeat;
}

.svg-ico-chk-select-dims {
	width: 35px;
	height: 33px;
}

.svg-ico-chk-selected-s {
	background: url("svg/sprite.view.svg") 0 52.17391304347826% no-repeat;
}

.svg-ico-chk-selected-s-dims {
	width: 35px;
	height: 33px;
}

.svg-ico-down {
	background: url("svg/sprite.view.svg") 49.29577464788732% 48.648648648648646% no-repeat;
}

.svg-ico-down-dims {
	width: 34px;
	height: 28px;
}

.svg-ico-no-grey {
	background: url("svg/sprite.view.svg") 0 100% no-repeat;
}

.svg-ico-no-grey-dims {
	width: 33px;
	height: 33px;
}

.svg-ico-pen {
	background: url("svg/sprite.view.svg") 100% 0 no-repeat;
}

.svg-ico-pen-dims {
	width: 34px;
	height: 33px;
}

.svg-ico-up {
	background: url("svg/sprite.view.svg") 100% 44.5945945945946% no-repeat;
}

.svg-ico-up-dims {
	width: 34px;
	height: 28px;
}

.svg-icon-reset {
	background: url("svg/sprite.view.svg") 0 0 no-repeat;
}

.svg-icon-reset-dims {
	width: 36px;
	height: 36px;
}

.svg-x {
	background: url("svg/sprite.view.svg") 44% 95.83333333333333% no-repeat;
}

.svg-x-dims {
	width: 30px;
	height: 30px;
}

